In [1]:
import pandas  as pd

In [2]:
train = pd.read_csv('Update_train.csv')

In [3]:
final_train=train.groupby(['donation_id','hdl_cholesterol_human','hemoglobin(hgb)_human','cholesterol_ldl_human']).mean()

In [4]:
final_train.to_csv("Final_train.csv",index=True)

In [5]:
###test

In [2]:
test = pd.read_csv('Updated_Test.csv')

In [3]:
test.head()

,Reading_ID,donation_id,absorbance0,absorbance1,absorbance2,absorbance3,absorbance4,absorbance5,absorbance6,absorbance7,...,absorbance164,absorbance165,absorbance166,absorbance167,absorbance168,absorbance169,id,std,temperature,humidity
0,ID_KWUAQLRM,ID_2982,0.517951,0.520508,0.526852,0.531611,0.536816,0.543828,0.547761,0.554379,...,1.226695,1.210430,1.214422,1.200332,1.198297,1.248182,0,0.0027,37.09,27.22
1,ID_FN8SIVJJ,ID_2982,0.517839,0.522367,0.525186,0.534661,0.541900,0.546180,0.551687,0.556753,...,1.219627,1.216220,1.191416,1.202515,1.211942,1.242939,1,0.0027,37.20,27.17
2,ID_CI4TQCHI,ID_2982,0.517702,0.522018,0.527237,0.534374,0.541155,0.547152,0.549837,0.557513,...,1.237193,1.208477,1.208721,1.187810,1.209599,1.175631,2,0.0027,37.30,27.07
3,ID_URJMKNU7,ID_2982,0.525008,0.527439,0.536871,0.539636,0.546555,0.553183,0.558826,0.563549,...,1.218532,1.185708,1.196750,1.222484,1.177406,1.198399,3,0.0027,37.38,26.98
4,ID_HBJH67IS,ID_2982,0.520532,0.522683,0.526842,0.534634,0.539676,0.547488,0.552688,0.558355,...,1.206383,1.204950,1.203311,1.191351,1.157577,1.212008,4,0.0027,37.48,26.89

In [8]:
test.drop(["Reading_ID"], axis=1, inplace=True)

In [9]:
test.head()

,donation_id,absorbance0,absorbance1,absorbance2,absorbance3,absorbance4,absorbance5,absorbance6,absorbance7,absorbance8,...,absorbance164,absorbance165,absorbance166,absorbance167,absorbance168,absorbance169,id,std,temperature,humidity
0,ID_2982,0.517951,0.520508,0.526852,0.531611,0.536816,0.543828,0.547761,0.554379,0.565622,...,1.226695,1.210430,1.214422,1.200332,1.198297,1.248182,0,0.0027,37.09,27.22
1,ID_2982,0.517839,0.522367,0.525186,0.534661,0.541900,0.546180,0.551687,0.556753,0.566446,...,1.219627,1.216220,1.191416,1.202515,1.211942,1.242939,1,0.0027,37.20,27.17
2,ID_2982,0.517702,0.522018,0.527237,0.534374,0.541155,0.547152,0.549837,0.557513,0.566793,...,1.237193,1.208477,1.208721,1.187810,1.209599,1.175631,2,0.0027,37.30,27.07
3,ID_2982,0.525008,0.527439,0.536871,0.539636,0.546555,0.553183,0.558826,0.563549,0.575675,...,1.218532,1.185708,1.196750,1.222484,1.177406,1.198399,3,0.0027,37.38,26.98
4,ID_2982,0.520532,0.522683,0.526842,0.534634,0.539676,0.547488,0.552688,0.558355,0.568959,...,1.206383,1.204950,1.203311,1.191351,1.157577,1.212008,4,0.0027,37.48,26.89

In [4]:
final_test=test.groupby(['donation_id']).mean()

In [5]:
final_test.shape

(61, 174)

In [6]:
final_test.head()

,absorbance0,absorbance1,absorbance2,absorbance3,absorbance4,absorbance5,absorbance6,absorbance7,absorbance8,absorbance9,...,absorbance164,absorbance165,absorbance166,absorbance167,absorbance168,absorbance169,id,std,temperature,humidity
donation_id,,,,,,,,,,,,,,,,,,,,,
ID_1961,0.499920,0.504608,0.507929,0.519943,0.529032,0.536118,0.539690,0.541710,0.548590,0.560742,...,1.098607,1.065527,1.044592,1.035440,1.041868,1.027759,3149.5,0.0064,41.507000,40.839333
ID_2067,0.497758,0.498091,0.503083,0.507249,0.513739,0.521944,0.528798,0.533743,0.541470,0.551838,...,1.221872,1.219100,1.221694,1.221569,1.233970,1.227104,509.5,0.0038,42.656500,39.675167
ID_2155,0.551436,0.553079,0.556722,0.560722,0.565583,0.570889,0.578668,0.585142,0.594233,0.610121,...,1.421566,1.422355,1.423502,1.433594,1.451166,1.433315,1229.5,0.0043,42.523833,41.728500
ID_2211,0.525926,0.528948,0.532222,0.540022,0.547279,0.554348,0.558680,0.563768,0.570031,0.583540,...,1.234305,1.212873,1.203968,1.196735,1.201349,1.192471,1529.5,0.0046,40.505833,43.938667
ID_2327,0.559814,0.559612,0.561561,0.565162,0.567556,0.572362,0.579762,0.587761,0.599415,0.615964,...,1.281871,1.294898,1.302489,1.304253,1.317566,1.295373,2369.5,0.0052,37.754333,24.961000

In [7]:
final_test.drop(["id"], axis=1, inplace=True)
final_test.drop(["std"], axis=1, inplace=True)

In [8]:
final_test.head()

,absorbance0,absorbance1,absorbance2,absorbance3,absorbance4,absorbance5,absorbance6,absorbance7,absorbance8,absorbance9,...,absorbance163,absorbance164,absorbance165,absorbance166,absorbance167,absorbance168,absorbance169,std,temperature,humidity
donation_id,,,,,,,,,,,,,,,,,,,,,
ID_1961,0.499920,0.504608,0.507929,0.519943,0.529032,0.536118,0.539690,0.541710,0.548590,0.560742,...,1.140465,1.098607,1.065527,1.044592,1.035440,1.041868,1.027759,0.0064,41.507000,40.839333
ID_2067,0.497758,0.498091,0.503083,0.507249,0.513739,0.521944,0.528798,0.533743,0.541470,0.551838,...,1.221688,1.221872,1.219100,1.221694,1.221569,1.233970,1.227104,0.0038,42.656500,39.675167
ID_2155,0.551436,0.553079,0.556722,0.560722,0.565583,0.570889,0.578668,0.585142,0.594233,0.610121,...,1.422387,1.421566,1.422355,1.423502,1.433594,1.451166,1.433315,0.0043,42.523833,41.728500
ID_2211,0.525926,0.528948,0.532222,0.540022,0.547279,0.554348,0.558680,0.563768,0.570031,0.583540,...,1.251708,1.234305,1.212873,1.203968,1.196735,1.201349,1.192471,0.0046,40.505833,43.938667
ID_2327,0.559814,0.559612,0.561561,0.565162,0.567556,0.572362,0.579762,0.587761,0.599415,0.615964,...,1.266984,1.281871,1.294898,1.302489,1.304253,1.317566,1.295373,0.0052,37.754333,24.961000

In [9]:
final_test.shape

(61, 173)

In [10]:
final_test.to_csv("Final_Test.csv",index=True)