In [55]:
import pandas as pd

In [56]:
temp1= pd.read_csv("Exports_hdl_rows_162_full.csv")

In [57]:
temp1.head()

,donation_id,scan_number,absorbance,std,temperature,humidity,hdl_cholesterol_human,hdl_cholesterol_value
0,10841,1,0.52281813260482 0.51949219725263 0.5264422548...,0.0056,42.38,45.58,low,42.2
1,10841,2,0.51923144372845 0.52235175972796 0.5229065445...,0.0056,42.48,45.47,low,42.2
2,10841,3,0.51721320908433 0.51849578207502 0.5245591625...,0.0056,42.58,45.37,low,42.2
3,10841,4,0.52022670958475 0.52037868958736 0.5269751029...,0.0056,42.68,45.32,low,42.2
4,10841,5,0.51708666137411 0.52161464343642 0.5267039231...,0.0056,42.75,45.21,low,42.2

In [58]:
temp1.shape

(9720, 8)

In [60]:
print (temp1['absorbance'].dtypes)

object

In [61]:
temp2= temp1["absorbance"]

In [64]:
temp2.dtypes

dtype('O')

In [50]:
temp2.to_csv("without_comma.csv",index=False,header=False)

In [51]:
r= pd.read_csv("without_comma.csv",delimiter=' ')

In [52]:
r.head()

,0.52281813260482,0.51949219725263,0.52644225488987,0.53244394889525,0.5353222923604,0.54406435442923,0.54939592767421,0.55264205767993,0.55808447097365,0.56886333734348,...,1.2637816726674,1.2645003562689,1.2605815810852,1.2415271223815,1.2447243575746,1.2203095526323,1.1886832401468,1.2018938401705,1.2338722330022,1.2082918503585
0,0.519231,0.522352,0.522907,0.529875,0.535889,0.541123,0.546886,0.550454,0.558756,0.567580,...,1.264688,1.263147,1.247994,1.243765,1.234483,1.214341,1.209225,1.181781,1.197834,1.209063
1,0.517213,0.518496,0.524559,0.529592,0.536908,0.541784,0.545905,0.551181,0.558595,0.566122,...,1.262554,1.258289,1.251042,1.247328,1.246725,1.196161,1.198100,1.210783,1.217032,1.179100
2,0.520227,0.520379,0.526975,0.532377,0.536789,0.543567,0.546632,0.550731,0.559143,0.568397,...,1.253993,1.258872,1.261109,1.241730,1.245152,1.222925,1.194124,1.184085,1.202892,1.190049
3,0.517087,0.521615,0.526704,0.527695,0.534110,0.542949,0.547859,0.550538,0.559549,0.567221,...,1.258157,1.256204,1.256531,1.243235,1.226479,1.203189,1.204200,1.152145,1.185491,1.207907
4,0.516087,0.519380,0.523157,0.528692,0.535801,0.541566,0.545905,0.549429,0.556515,0.566796,...,1.267355,1.269534,1.267723,1.259885,1.231706,1.233082,1.196107,1.206651,1.264832,1.266798

In [53]:
r.isnull().values.any()

False

In [54]:
r.shape

(9719, 170)

In [10]:
r.to_csv('with_comma.csv',index=False)

In [11]:
g= pd.read_csv('with_comma.csv',header=None)

In [12]:
g.head()

,0,1,2,3,4,5,6,7,8,9,...,160,161,162,163,164,165,166,167,168,169
0,0.522818,0.519492,0.526442,0.532444,0.535322,0.544064,0.549396,0.552642,0.558084,0.568863,...,1.263782,1.264500,1.260582,1.241527,1.244724,1.220310,1.188683,1.201894,1.233872,1.208292
1,0.519231,0.522352,0.522907,0.529875,0.535889,0.541123,0.546886,0.550454,0.558756,0.567580,...,1.264688,1.263147,1.247994,1.243765,1.234483,1.214341,1.209225,1.181781,1.197834,1.209063
2,0.517213,0.518496,0.524559,0.529592,0.536908,0.541784,0.545905,0.551181,0.558595,0.566122,...,1.262554,1.258289,1.251042,1.247328,1.246725,1.196161,1.198100,1.210783,1.217032,1.179100
3,0.520227,0.520379,0.526975,0.532377,0.536789,0.543567,0.546632,0.550731,0.559143,0.568397,...,1.253993,1.258872,1.261109,1.241730,1.245152,1.222925,1.194124,1.184085,1.202892,1.190049
4,0.517087,0.521615,0.526704,0.527695,0.534110,0.542949,0.547859,0.550538,0.559549,0.567221,...,1.258157,1.256204,1.256531,1.243235,1.226479,1.203189,1.204200,1.152145,1.185491,1.207907

In [13]:
l =[]

In [14]:
for i in range(170):
    a = "absorbance" + str(i) 
    l.append(a)

In [15]:
df = pd.DataFrame(columns=l)

In [16]:
df.to_csv("dff1.csv",index=False)

In [17]:
x = pd.read_csv('dff1.csv',header=None)

In [18]:
ndf = pd.concat([x, g]).reset_index(drop = True)

In [19]:
ndf.head()

,0,1,2,3,4,5,6,7,8,9,...,160,161,162,163,164,165,166,167,168,169
0,absorbance0,absorbance1,absorbance2,absorbance3,absorbance4,absorbance5,absorbance6,absorbance7,absorbance8,absorbance9,...,absorbance160,absorbance161,absorbance162,absorbance163,absorbance164,absorbance165,absorbance166,absorbance167,absorbance168,absorbance169
1,0.522818,0.519492,0.526442,0.532444,0.535322,0.544064,0.549396,0.552642,0.558084,0.568863,...,1.26378,1.2645,1.26058,1.24153,1.24472,1.22031,1.18868,1.20189,1.23387,1.20829
2,0.519231,0.522352,0.522907,0.529875,0.535889,0.541123,0.546886,0.550454,0.558756,0.56758,...,1.26469,1.26315,1.24799,1.24376,1.23448,1.21434,1.20922,1.18178,1.19783,1.20906
3,0.517213,0.518496,0.524559,0.529592,0.536908,0.541784,0.545905,0.551181,0.558595,0.566122,...,1.26255,1.25829,1.25104,1.24733,1.24673,1.19616,1.1981,1.21078,1.21703,1.1791
4,0.520227,0.520379,0.526975,0.532377,0.536789,0.543567,0.546632,0.550731,0.559143,0.568397,...,1.25399,1.25887,1.26111,1.24173,1.24515,1.22293,1.19412,1.18409,1.20289,1.19005

In [20]:
ndf.to_csv('absorbance.csv',index=False,header=False)

In [21]:
absor = pd.read_csv('absorbance.csv')

In [22]:
absor.head()

,absorbance0,absorbance1,absorbance2,absorbance3,absorbance4,absorbance5,absorbance6,absorbance7,absorbance8,absorbance9,...,absorbance160,absorbance161,absorbance162,absorbance163,absorbance164,absorbance165,absorbance166,absorbance167,absorbance168,absorbance169
0,0.522818,0.519492,0.526442,0.532444,0.535322,0.544064,0.549396,0.552642,0.558084,0.568863,...,1.263782,1.264500,1.260582,1.241527,1.244724,1.220310,1.188683,1.201894,1.233872,1.208292
1,0.519231,0.522352,0.522907,0.529875,0.535889,0.541123,0.546886,0.550454,0.558756,0.567580,...,1.264688,1.263147,1.247994,1.243765,1.234483,1.214341,1.209225,1.181781,1.197834,1.209063
2,0.517213,0.518496,0.524559,0.529592,0.536908,0.541784,0.545905,0.551181,0.558595,0.566122,...,1.262554,1.258289,1.251042,1.247328,1.246725,1.196161,1.198100,1.210783,1.217032,1.179100
3,0.520227,0.520379,0.526975,0.532377,0.536789,0.543567,0.546632,0.550731,0.559143,0.568397,...,1.253993,1.258872,1.261109,1.241730,1.245152,1.222925,1.194124,1.184085,1.202892,1.190049
4,0.517087,0.521615,0.526704,0.527695,0.534110,0.542949,0.547859,0.550538,0.559549,0.567221,...,1.258157,1.256204,1.256531,1.243235,1.226479,1.203189,1.204200,1.152145,1.185491,1.207907

In [23]:
absor.shape

(9720, 170)

In [24]:
c1 = pd.read_csv("Exports_hdl_rows_162_full.csv")

In [25]:
c1.shape

(9720, 8)

In [26]:
c1.drop(["absorbance"], axis=1, inplace=True)

In [27]:
c1.head()

,donation_id,scan_number,std,temperature,humidity,hdl_cholesterol_human,hdl_cholesterol_value
0,10841,1,0.0056,42.38,45.58,low,42.2
1,10841,2,0.0056,42.48,45.47,low,42.2
2,10841,3,0.0056,42.58,45.37,low,42.2
3,10841,4,0.0056,42.68,45.32,low,42.2
4,10841,5,0.0056,42.75,45.21,low,42.2

In [28]:
c2=pd.read_csv("absorbance.csv")

In [29]:
c3 = pd.concat([c2, c1],axis=1)

In [30]:
c3.head()

,absorbance0,absorbance1,absorbance2,absorbance3,absorbance4,absorbance5,absorbance6,absorbance7,absorbance8,absorbance9,...,absorbance167,absorbance168,absorbance169,donation_id,scan_number,std,temperature,humidity,hdl_cholesterol_human,hdl_cholesterol_value
0,0.522818,0.519492,0.526442,0.532444,0.535322,0.544064,0.549396,0.552642,0.558084,0.568863,...,1.201894,1.233872,1.208292,10841,1,0.0056,42.38,45.58,low,42.2
1,0.519231,0.522352,0.522907,0.529875,0.535889,0.541123,0.546886,0.550454,0.558756,0.567580,...,1.181781,1.197834,1.209063,10841,2,0.0056,42.48,45.47,low,42.2
2,0.517213,0.518496,0.524559,0.529592,0.536908,0.541784,0.545905,0.551181,0.558595,0.566122,...,1.210783,1.217032,1.179100,10841,3,0.0056,42.58,45.37,low,42.2
3,0.520227,0.520379,0.526975,0.532377,0.536789,0.543567,0.546632,0.550731,0.559143,0.568397,...,1.184085,1.202892,1.190049,10841,4,0.0056,42.68,45.32,low,42.2
4,0.517087,0.521615,0.526704,0.527695,0.534110,0.542949,0.547859,0.550538,0.559549,0.567221,...,1.152145,1.185491,1.207907,10841,5,0.0056,42.75,45.21,low,42.2

In [31]:
c3.shape

(9720, 177)

In [33]:
c3.to_csv('final_additional_hdl.csv',index=False)

In [34]:
tt= pd.read_csv('final_additional_hdl.csv')

In [35]:
tt.head()

,absorbance0,absorbance1,absorbance2,absorbance3,absorbance4,absorbance5,absorbance6,absorbance7,absorbance8,absorbance9,...,absorbance167,absorbance168,absorbance169,donation_id,scan_number,std,temperature,humidity,hdl_cholesterol_human,hdl_cholesterol_value
0,0.522818,0.519492,0.526442,0.532444,0.535322,0.544064,0.549396,0.552642,0.558084,0.568863,...,1.201894,1.233872,1.208292,10841,1,0.0056,42.38,45.58,low,42.2
1,0.519231,0.522352,0.522907,0.529875,0.535889,0.541123,0.546886,0.550454,0.558756,0.567580,...,1.181781,1.197834,1.209063,10841,2,0.0056,42.48,45.47,low,42.2
2,0.517213,0.518496,0.524559,0.529592,0.536908,0.541784,0.545905,0.551181,0.558595,0.566122,...,1.210783,1.217032,1.179100,10841,3,0.0056,42.58,45.37,low,42.2
3,0.520227,0.520379,0.526975,0.532377,0.536789,0.543567,0.546632,0.550731,0.559143,0.568397,...,1.184085,1.202892,1.190049,10841,4,0.0056,42.68,45.32,low,42.2
4,0.517087,0.521615,0.526704,0.527695,0.534110,0.542949,0.547859,0.550538,0.559549,0.567221,...,1.152145,1.185491,1.207907,10841,5,0.0056,42.75,45.21,low,42.2

In [36]:
tt.shape

(9720, 177)

In [37]:
final_train_additional_hdl=tt.groupby(['donation_id','hdl_cholesterol_human']).mean()

In [38]:
final_train_additional_hdl.head()

,,absorbance0,absorbance1,absorbance2,absorbance3,absorbance4,absorbance5,absorbance6,absorbance7,absorbance8,absorbance9,...,absorbance165,absorbance166,absorbance167,absorbance168,absorbance169,scan_number,std,temperature,humidity,hdl_cholesterol_value
donation_id,hdl_cholesterol_human,,,,,,,,,,,,,,,,,,,,,
1974,low,0.502636,0.506272,0.509749,0.513453,0.517903,0.523063,0.529182,0.536420,0.548779,0.561564,...,1.334621,1.339219,1.346593,1.345408,1.354871,30.5,0.0055,38.923333,41.545167,43.0
1999,low,0.576990,0.576752,0.583474,0.588204,0.595724,0.602002,0.608842,0.611728,0.618442,0.627124,...,1.231956,1.209286,1.188749,1.193905,1.170326,30.5,0.0047,43.856333,38.914833,42.0
2001,low,0.562941,0.563152,0.570033,0.574368,0.583060,0.590106,0.597707,0.600610,0.607827,0.617310,...,1.329021,1.301495,1.277758,1.276195,1.249072,30.5,0.0045,47.302333,35.562167,41.0
2021,ok,0.524103,0.524649,0.528271,0.533941,0.541959,0.549013,0.556098,0.561205,0.567459,0.578888,...,1.298843,1.276733,1.257599,1.255148,1.228435,30.5,0.0105,43.945167,40.378167,46.0
2024,ok,0.487408,0.487817,0.491583,0.497077,0.505775,0.513154,0.519818,0.523342,0.529097,0.539527,...,1.171182,1.144682,1.122951,1.114302,1.100579,30.5,0.0079,45.090667,37.781000,58.0

In [39]:
final_train_additional_hdl.to_csv("Additional_hdl_rows_162_LOW_STD.csv",index=True)

In [40]:
y = pd.read_csv('Additional_hdl_rows_162_LOW_STD.csv')

In [41]:
y.head()

,donation_id,hdl_cholesterol_human,absorbance0,absorbance1,absorbance2,absorbance3,absorbance4,absorbance5,absorbance6,absorbance7,...,absorbance165,absorbance166,absorbance167,absorbance168,absorbance169,scan_number,std,temperature,humidity,hdl_cholesterol_value
0,1974,low,0.502636,0.506272,0.509749,0.513453,0.517903,0.523063,0.529182,0.536420,...,1.334621,1.339219,1.346593,1.345408,1.354871,30.5,0.0055,38.923333,41.545167,43.0
1,1999,low,0.576990,0.576752,0.583474,0.588204,0.595724,0.602002,0.608842,0.611728,...,1.231956,1.209286,1.188749,1.193905,1.170326,30.5,0.0047,43.856333,38.914833,42.0
2,2001,low,0.562941,0.563152,0.570033,0.574368,0.583060,0.590106,0.597707,0.600610,...,1.329021,1.301495,1.277758,1.276195,1.249072,30.5,0.0045,47.302333,35.562167,41.0
3,2021,ok,0.524103,0.524649,0.528271,0.533941,0.541959,0.549013,0.556098,0.561205,...,1.298843,1.276733,1.257599,1.255148,1.228435,30.5,0.0105,43.945167,40.378167,46.0
4,2024,ok,0.487408,0.487817,0.491583,0.497077,0.505775,0.513154,0.519818,0.523342,...,1.171182,1.144682,1.122951,1.114302,1.100579,30.5,0.0079,45.090667,37.781000,58.0

In [42]:
y.shape

(162, 177)

In [43]:
9720/60

162.0