In [1]:
import os
import pandas as pd
import numpy as np
import json
import random, string
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
maindir = "./" # Directory with your files
train1_loc= maindir+"/Final_Train.csv"
train2_loc= maindir+"/Additional_hdl_rows_162_LOW_STD.csv"
#train3_loc= maindir+"/No_NULL_Exports_hdl_rows_483_full.csv"
# testcsv = maindir+"/Final_Test2.csv"

In [3]:
train1 = pd.read_csv(train1_loc)
train2 = pd.read_csv(train2_loc)
#train3 = pd.read_csv(train3_loc)

In [ ]:
train2.isnull().values.any()

In [ ]:
train1.head()

In [4]:
train1.drop(["id"], axis=1, inplace=True)
train1.drop(["std"], axis=1, inplace=True)

In [5]:
train1.drop(["hemoglobin(hgb)_human"], axis=1, inplace=True)
train1.drop(["cholesterol_ldl_human"], axis=1, inplace=True)

In [6]:
train1.head()

,donation_id,hdl_cholesterol_human,absorbance0,absorbance1,absorbance2,absorbance3,absorbance4,absorbance5,absorbance6,absorbance7,...,absorbance162,absorbance163,absorbance164,absorbance165,absorbance166,absorbance167,absorbance168,absorbance169,temperature,humidity
0,1975,low,0.505055,0.506570,0.511544,0.516300,0.524067,0.530191,0.536138,0.542317,...,1.410468,1.409675,1.401169,1.395687,1.390813,1.384304,1.395545,1.369307,42.332500,37.773000
1,1982,low,0.523531,0.523485,0.526291,0.532875,0.538397,0.543180,0.547520,0.553433,...,1.298688,1.301346,1.299807,1.299004,1.298251,1.297575,1.302398,1.284716,39.385167,43.316667
2,1989,low,0.516449,0.519226,0.523619,0.532366,0.540438,0.547985,0.552716,0.556823,...,1.283621,1.272086,1.247736,1.228340,1.211511,1.204599,1.212862,1.193458,42.455500,46.535167
3,1994,low,0.512397,0.514371,0.518486,0.520868,0.526911,0.534963,0.542428,0.549013,...,1.268378,1.262765,1.254238,1.246901,1.248287,1.245556,1.266079,1.258333,45.173333,37.369333
4,2002,low,0.496008,0.496698,0.499643,0.502549,0.506363,0.511604,0.518730,0.523823,...,1.201238,1.196827,1.196379,1.197037,1.195206,1.199005,1.222712,1.213309,45.523667,38.557500

In [7]:
train2.head()

,donation_id,hdl_cholesterol_human,absorbance0,absorbance1,absorbance2,absorbance3,absorbance4,absorbance5,absorbance6,absorbance7,...,absorbance165,absorbance166,absorbance167,absorbance168,absorbance169,scan_number,std,temperature,humidity,hdl_cholesterol_value
0,1974,low,0.502636,0.506272,0.509749,0.513453,0.517903,0.523063,0.529182,0.536420,...,1.334621,1.339219,1.346593,1.345408,1.354871,30.5,0.0055,38.923333,41.545167,43.0
1,1999,low,0.576990,0.576752,0.583474,0.588204,0.595724,0.602002,0.608842,0.611728,...,1.231956,1.209286,1.188749,1.193905,1.170326,30.5,0.0047,43.856333,38.914833,42.0
2,2001,low,0.562941,0.563152,0.570033,0.574368,0.583060,0.590106,0.597707,0.600610,...,1.329021,1.301495,1.277758,1.276195,1.249072,30.5,0.0045,47.302333,35.562167,41.0
3,2021,ok,0.524103,0.524649,0.528271,0.533941,0.541959,0.549013,0.556098,0.561205,...,1.298843,1.276733,1.257599,1.255148,1.228435,30.5,0.0105,43.945167,40.378167,46.0
4,2024,ok,0.487408,0.487817,0.491583,0.497077,0.505775,0.513154,0.519818,0.523342,...,1.171182,1.144682,1.122951,1.114302,1.100579,30.5,0.0079,45.090667,37.781000,58.0

In [8]:
train2.drop(["scan_number"], axis=1, inplace=True)
train2.drop(["std"], axis=1, inplace=True)
train2.drop(["hdl_cholesterol_value"], axis=1, inplace=True)

In [9]:
train2.shape

(162, 174)

In [ ]:
train3.head()

In [ ]:
train3.drop(["scan_number"], axis=1, inplace=True)
train3.drop(["std"], axis=1, inplace=True)
train3.drop(["hdl_cholesterol_value"], axis=1, inplace=True)

In [ ]:
train3.shape

In [10]:
train1.shape

(486, 174)

In [11]:
train2.shape

(162, 174)

In [12]:
super_final = pd.concat([train1,train2]).reset_index(drop = True)

In [13]:
super_final.shape

(648, 174)

In [14]:
super_final.head()

,donation_id,hdl_cholesterol_human,absorbance0,absorbance1,absorbance2,absorbance3,absorbance4,absorbance5,absorbance6,absorbance7,...,absorbance162,absorbance163,absorbance164,absorbance165,absorbance166,absorbance167,absorbance168,absorbance169,temperature,humidity
0,1975,low,0.505055,0.506570,0.511544,0.516300,0.524067,0.530191,0.536138,0.542317,...,1.410468,1.409675,1.401169,1.395687,1.390813,1.384304,1.395545,1.369307,42.332500,37.773000
1,1982,low,0.523531,0.523485,0.526291,0.532875,0.538397,0.543180,0.547520,0.553433,...,1.298688,1.301346,1.299807,1.299004,1.298251,1.297575,1.302398,1.284716,39.385167,43.316667
2,1989,low,0.516449,0.519226,0.523619,0.532366,0.540438,0.547985,0.552716,0.556823,...,1.283621,1.272086,1.247736,1.228340,1.211511,1.204599,1.212862,1.193458,42.455500,46.535167
3,1994,low,0.512397,0.514371,0.518486,0.520868,0.526911,0.534963,0.542428,0.549013,...,1.268378,1.262765,1.254238,1.246901,1.248287,1.245556,1.266079,1.258333,45.173333,37.369333
4,2002,low,0.496008,0.496698,0.499643,0.502549,0.506363,0.511604,0.518730,0.523823,...,1.201238,1.196827,1.196379,1.197037,1.195206,1.199005,1.222712,1.213309,45.523667,38.557500

In [16]:
super_final.to_csv("hdl_low_std.csv",index=False)

In [17]:
x = pd.read_csv("hdl_low_std.csv")

In [18]:
x.shape

(648, 174)

In [19]:
x.head()

,donation_id,hdl_cholesterol_human,absorbance0,absorbance1,absorbance2,absorbance3,absorbance4,absorbance5,absorbance6,absorbance7,...,absorbance162,absorbance163,absorbance164,absorbance165,absorbance166,absorbance167,absorbance168,absorbance169,temperature,humidity
0,1975,low,0.505055,0.506570,0.511544,0.516300,0.524067,0.530191,0.536138,0.542317,...,1.410468,1.409675,1.401169,1.395687,1.390813,1.384304,1.395545,1.369307,42.332500,37.773000
1,1982,low,0.523531,0.523485,0.526291,0.532875,0.538397,0.543180,0.547520,0.553433,...,1.298688,1.301346,1.299807,1.299004,1.298251,1.297575,1.302398,1.284716,39.385167,43.316667
2,1989,low,0.516449,0.519226,0.523619,0.532366,0.540438,0.547985,0.552716,0.556823,...,1.283621,1.272086,1.247736,1.228340,1.211511,1.204599,1.212862,1.193458,42.455500,46.535167
3,1994,low,0.512397,0.514371,0.518486,0.520868,0.526911,0.534963,0.542428,0.549013,...,1.268378,1.262765,1.254238,1.246901,1.248287,1.245556,1.266079,1.258333,45.173333,37.369333
4,2002,low,0.496008,0.496698,0.499643,0.502549,0.506363,0.511604,0.518730,0.523823,...,1.201238,1.196827,1.196379,1.197037,1.195206,1.199005,1.222712,1.213309,45.523667,38.557500

In [20]:
x.isnull().values.any()

False